@model Dalal.Models.Products

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoPath = "~/images/" + (Model.ProductPhotoPath);

}

<h1>Details</h1>


<h4>Products</h4>
<hr />

<img style="height:250px;width:auto;position:relative;" class="card-img-top imageThumbnail sticky-top img-fluid" src="@photoPath "
     asp-append-version="true" />
<br />
<br />
<table class="table table-bordered table-striped text-center" dir="rtl">
    <tr class="table-hover">
        <th>اسم المنتج</th>
        <th>سعر المنتج</th>
        <th>فئة المنتج</th>
        <th>اسم المجهز</th>
        <th style="text-align:center">عن المنتج</th>
    </tr>
    
    <tr>

        <td>@Model.ProductName</td>
        <td>@Model.ProductPrice</td>
        <td>@Model.productCatagory.CatagoryName</td>
        <td>@Model.supplyer.SupplierName</td>
        <td class="text-right">@Model.Description</td>

    </tr>
</table>







@*<div class="container" style="margin-left:80%">

    <label asp-for="@Model.ProductName"></label>
    <h3>@Model.ProductName</h3>*@

@*</div>*@

<br />
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">تعديل</a> |
    <a asp-action="Index">القائمة السابقة</a>
</div>
