@model Dalal.ViewModels.EditProductViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoPath = "~/images/" + (Model.ExistingPhotoPath);

}
<h3 class="text-center">تعديل معلومات المنتج</h3>

<form dir="rtl" enctype="multipart/form-data" method="post" asp-controller="Products" asp-action="Edit">
    <input type="hidden" asp-for="@Model.ProductId" />

    <div class="form-group col-xs-4 col-md-4">
        <label style="margin-left:90%" for="name" class="control-label">الاسم</label>
        <input asp-for="@Model.ProductName" class="form-control" id="name">
    </div>

    <div class=" form-group col-xs-4 col-md-4">
        <label style="margin-left:90%" for="name" class="control-label">السعر</label>
        <input asp-for="@Model.ProductPrice" class="form-control" id="name">
    </div>

    <br />

    <select style="margin-left:82%" class="custom-select"
            asp-for="@Model.productCatagoryId"
            asp-items="@(new SelectList(Model.productCatagory,"CatagoryId","CatagoryName"))">
        <option>الرجاء اختيار صنف المنتج</option>
    </select>

    <br />
    <br />

    <select class="custom-select" style="margin-left:90%" asp-for="@Model.supplyerId" asp-items="@(new SelectList(Model.supplyer,"SupplierId","SupplierName"))">
        <option value="@Model.supplyerId">اسم المجهز</option>
    </select>

    <br />
    <br />
    <div class="checkbox text-right" dir="ltr">

        <input asp-for="@Model.IsOnSale" />
        <label class="text-right">خصم على المنتج</label>

    </div>
    <br />

    <div class="form-group col-xs-4 col-md-8">
        <label style="margin-left:90%" for="exampleFormControlTextarea1">عن المنتج</label>
        <textarea asp-for="@Model.Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <br />
    <br />

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">تحميل</span>
        </div>
        <div class="custom-file">
            <input asp-for="Photo" type="file" class="custom-file-input form-control" id="inputGroupFile01"
                   aria-describedby="inputGroupFileAddon01">
            <label style="margin-left:70%" class="custom-file-label" for="inputGroupFile01">صورة المنتج الجديدة</label>
        </div>
    </div>

    <img style="height:250px;width:auto;position:relative;" class="imageThumbnail sticky-top img-fluid" src="@photoPath "
         asp-append-version="true" />
    <br />

    <button style="margin-left:85%" dir="rtl" type="submit" class="btn btn-primary">حفظ المعلومات</button>
</form>